body {
    margin: 0;
    background-image: url("r.jpg");
    max-width: 100%;
    text-align: center;
}

p {
    font-size: 0px;
}

.fondo {
    margin-left: 350px;
    margin-top: 30px;
    width: 500px;
    background-color: #CD853F;
    opacity: 1.3;
}
td {
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    border: 3px solid white;
    cursor: pointer;
}


td:hover {
    background-color: #ececec;
    color: #3c3c3c;
}

input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 25px;
    font-weight: bold;
    padding: 0px 5px;    
}

#shiftBtn {
        background-color: #cd853f;
}

#shiftBtn:hover {
background-color: #ececec;
color: #3c3c3c;
}
#ac {
    background-color: #cd853f;
}
#ac:hover {
    background-color: #ececec;
    color: #3c3c3c;
}